<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/fileinput/fileinput.min.css" rel="stylesheet">
    <link href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/fileinput/fileinput.js"></script>
    <style>
        .file-preview-frame {
            margin: 0;
            padding: 0;
            border: none;
        }

        .file-actions {
            display: none;
        }
        .progress{
            margin-bottom: 3px;
        }
    </style>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    <input placeholder="视频" type="file"/>
</form>
<script>
    $(function () {
        $.fn.fileinput.defaults = $.extend($.fn.fileinput.defaults, {
            browseLabel: '视频浏览',
            browseTitle: '视频文件',
            removeLabel: '清除',
            removeTitle: '清除',
            cancelLabel: '撤销',
            cancelTitle: '撤销',
            uploadLabel: '上传',
            uploadTitle: '上传',
            allowedFileExtensions: ["mp4"],
            multiple: true,
            overwriteInitial: false,
            initialPreviewShowDelete: false,
            deleteUrl: '/video/delete',
            uploadUrl: '/video/upload',
            maxFileSize: 20000000,
            dropZoneTitle: '拖拽视频这里',
            msgSelected: '选了{n}张视频',
            initialCaption: ""
        });
        $("input[type=file]").fileinput({
            'allowedFileExtensions': ['mp4'],
            showRemove:false,
            autoReplace: true,
            dropZoneEnabled: false
        });
        $("form").on("fileuploaded", "input[type=file]", function (e, data) {
            window.imgurl = data.response.urls;
            window.top.postMessage(window.imgurl,"*");
        });

    });
</script>
</body>
</html>
